[Unit]
Description=git and make
After=reflector.service

[Service]
RemainAfterExit=yes
ExecStart=pacman -Sy --noconfirm make git

[Install]
WantedBy=multi-user.target
